{
  "openapi": "3.0.3",
  "info": {
    "title": "Linked Data API RCE",
    "description": "Linked data on cultural-historical objects. This concerns built and archaeological national monuments, findings, discovery locations, complexes, archaeological complexes, research areas, and sites.\nAccess to the Linked Data API of the RCE does not require registration. Use the API in a responsible and lawful manner. Respect the applicable laws and regulations regarding the use of cultural heritage data. These terms may be changed at any time. It is your responsibility to stay informed of any changes. By using the API, you agree to these terms. For questions or concerns, please contact the Cultural Heritage Agency of the Netherlands.This API (Application Programming Interface) of the RCE offers the possibility to request data from the RCE. The following data is offered via this API: \nRijksmonumenten, werelderfgoederen, gezichten\nThe API also allows filtering on the results. Filters are applied by: municipality, province, place name, and various numbering.",
    "termsOfService": "https://linkeddata.cultureelerfgoed.nl/rce/-/stories/Restfull-API",
    "contact": {
      "url": "https://linkeddata.cultureelerfgoed.nl",
      "email": "thesauri@cultureelerfgoed.nl"
    },
    "license": {
      "name": "Open Data Commons Attribution License 1.0",
      "url": "https://opendatacommons.org/licenses/by/1-0/"
    },
    "version": "0.3.1"
  },
  "servers": [
    {
      "url": "https://api.linkeddata.cultureelerfgoed.nl/queries/rce"
    }
  ],
  "tags": [
    {
      "name": "Rijksmonumenten",
      "description": "Information concerning one or more instances of a built or archaeological national monument \"rijksmonument\". National heritage sites are historical buildings, archaeological sites or man-made green structures like parks."
    },
    {
      "name": "Werelderfgoed",
      "description": "Information regarding one or more instances of a World Heritage Site \"werelderfgoed\". World Heritage Sites are monuments so important to the global community that we want to pass them on safely to future generations."
    },
    {
      "name": "Gezicht",
      "description": "Information on one or more instances of a \"gezicht\". A protected town or village scape is an area in a town or village with a special cultural-historical character. Protection aims to preserve the cultural-historical identity of an area and use it in developments."
    }
  ],
  "externalDocs": {
    "description": "json-ld frames",
    "url": "https://www.w3.org/TR/json-ld11-framing/"
  },
  "paths": {
    "/rest-api-rijksmonumenten/run": {
      "get": {
        "tags": [
          "rijksmonumenten"
        ],
        "summary": "Rijksmonumenten",
        "description": "Opvragen van informatie over rijksmonumenten.",
        "operationId": "findMonumentsByParameters",
        "parameters": [
          {
            "name": "gemeentecode",
            "in": "query",
            "description": "Code of the municipality",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "1"
            }
          },
          {
            "name": "provinciecode",
            "in": "query",
            "description": "Code of the province",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "ZH"
            }
          },
          {
            "name": "rijksmonumentnummer",
            "in": "query",
            "description": "Rijksmonument number",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "12340"
            }
          },
          {
            "name": "woonplaatsnaam",
            "in": "query",
            "description": "Name of the residence",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "Nuth"
            }
          },
          {
            "name": "cultuurhistorischObjectnummer",
            "in": "query",
            "description": "Cultural historical object number",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "72843"
            }
          },
          {
            "name": "monumentaard",
            "in": "query",
            "description": "Type of monument (e.g., gebouwd, archeologisch)",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "gebouwd",
              "enum": [
                "gebouwd",
                "archeologisch"
              ]
            }
          },
          {
            "name": "oorspronkelijkeFunctie",
            "in": "query",
            "description": "Original function of the monument",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "Toegangshek"
            }
          },
          {
            "name": "postcode",
            "in": "query",
            "description": "Postal code",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "6161CX"
            }
          },
          {
            "name": "volledigAdres",
            "in": "query",
            "description": "Full address",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "Vondelstraat 77"
            }
          },
          {
            "name": "straat",
            "in": "query",
            "description": "Street name",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "Vondelstraat"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Status of the monument",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "rijksmonument",
              "enum": [
                "rijksmonument",
                "geen rijksmonument",
                "voorbeschermd"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Monument"
                  }
                },
                "example": {
                  "@context": {
                    "@version": 1.1,
                    "@vocab": "https://linkeddata.cultureelerfgoed.nl/def/ceo#",
                    "actorenrol": "https://linkeddata.cultureelerfgoed.nl/cho-kennis/id/actorenrol/",
                    "archeologischcomplex": "https://linkeddata.cultureelerfgoed.nl/cho-kennis/id/archeologischcomplex/",
                    "archeologischterrein": "https://linkeddata.cultureelerfgoed.nl/cho-kennis/id/archeologischterrein/",
                    "bagrelatie": "https://linkeddata.cultureelerfgoed.nl/cho-kennis/id/bagrelatie/",
                    "basisregistratierelatie": "https://linkeddata.cultureelerfgoed.nl/cho-kennis/id/basisregistratierelatie/",
                    "begindatering": "https://linkeddata.cultureelerfgoed.nl/cho-kennis/id/begindatering/",
                    "brkrelatie": "https://linkeddata.cultureelerfgoed.nl/cho-kennis/id/brkrelatie/",
                    "ceo": "https://linkeddata.cultureelerfgoed.nl/def/ceo#",
                    "complex": "https://linkeddata.cultureelerfgoed.nl/cho-kennis/id/complex/",
                    "datering": "https://linkeddata.cultureelerfgoed.nl/cho-kennis/id/datering/",
                    "datumInschrijvingInMonumentenregister": {
                      "@type": "xsd:date"
                    },
                    "einddatering": "https://linkeddata.cultureelerfgoed.nl/cho-kennis/id/einddatering/",
                    "formeelStandpunt": {
                      "@type": "xsd:boolean"
                    },
                    "functie": "https://linkeddata.cultureelerfgoed.nl/cho-kennis/id/functie/",
                    "gebeurtenis": "https://linkeddata.cultureelerfgoed.nl/cho-kennis/id/gebeurtenis/",
                    "geo": "http://www.opengis.net/ont/geosparql#",
                    "geometrie": "https://linkeddata.cultureelerfgoed.nl/cho-kennis/id/geometrie/",
                    "heeftBetrekkingOp": {
                      "@type": "@id"
                    },
                    "heeftGemeente": {
                      "@type": "@id"
                    },
                    "heeftPand": {
                      "@type": "@id"
                    },
                    "heeftProvincie": {
                      "@type": "@id"
                    },
                    "heeftVerblijfsobject": {
                      "@type": "@id"
                    },
                    "hoofdfunctie": {
                      "@type": "xsd:boolean"
                    },
                    "internationaalKenteken": {
                      "@type": "xsd:boolean"
                    },
                    "isHoofdobjectVanComplex": {
                      "@type": "@id"
                    },
                    "isOnderdeelVanComplex": {
                      "@type": "@id"
                    },
                    "ligtInObject": {
                      "@type": "@id"
                    },
                    "locatieaanduiding": "https://linkeddata.cultureelerfgoed.nl/cho-kennis/id/locatieaanduiding/",
                    "naam": "https://linkeddata.cultureelerfgoed.nl/cho-kennis/id/naam/",
                    "omschrijving": "https://linkeddata.cultureelerfgoed.nl/cho-kennis/id/omschrijving/",
                    "owms": "http://standaarden.overheid.nl/owms/terms/",
                    "pand": "http://bag.basisregistraties.overheid.nl/bag/id/pand/",
                    "registratiedatum": {
                      "@type": "xsd:date"
                    },
                    "rijksmonument": "https://linkeddata.cultureelerfgoed.nl/cho-kennis/id/rijksmonument/",
                    "rn": "https://data.cultureelerfgoed.nl/term/id/rn/",
                    "skos": "http://www.w3.org/2004/02/skos/core#",
                    "stijlencultuur": "https://linkeddata.cultureelerfgoed.nl/cho-kennis/id/stijlencultuur/",
                    "type": "https://linkeddata.cultureelerfgoed.nl/cho-kennis/id/type/",
                    "verblijfsobject": "http://bag.basisregistraties.overheid.nl/bag/id/verblijfsobject/",
                    "xsd": "http://www.w3.org/2001/XMLSchema#"
                  },
                  "@id": "rijksmonument:29177",
                  "@type": "Rijksmonument",
                  "cultuurhistorischObjectnummer": "29177",
                  "datumInschrijvingInMonumentenregister": "1972-09-05",
                  "heeftBasisregistratieRelatie": {
                    "@id": "basisregistratierelatie:19591",
                    "@type": "BasisregistratieRelatie",
                    "basisregistratieRelatienummer": "19591",
                    "heeftBAGRelatie": {
                      "@id": "bagrelatie:48315",
                      "@type": "BAGRelatie",
                      "BAGRelatienummer": "48315",
                      "heeftVerblijfsobject": "verblijfsobject:1774010000271171",
                      "huisnummer": "96",
                      "openbareRuimte": "Lattropperstraat",
                      "postcode": "7591PK",
                      "verblijfsobjectIdentificatie": "1774010000271171",
                      "volledigAdres": "Lattropperstraat 96",
                      "woonplaatsnaam": "Denekamp"
                    },
                    "heeftBRKRelatie": {
                      "@id": "brkrelatie:113847",
                      "@type": "BRKRelatie",
                      "BRKRelatienummer": "113847",
                      "gemeentecode": "212",
                      "gemeentenaam": "Denekamp",
                      "perceelnummer": "759",
                      "provinciecode": "OV",
                      "sectie": "M"
                    },
                    "heeftGemeente": "owms:Dinkelland",
                    "heeftProvincie": "owms:Overijssel"
                  },
                  "heeftBebouwdeKomType": {
                    "@id": "rn:a273be15-311e-4246-b99e-52c2efd97a77",
                    "@type": "skos:Concept",
                    "skos:prefLabel": "onbekend"
                  },
                  "heeftGeometrie": {
                    "@id": "geometrie:61241",
                    "@type": "Geometrie",
                    "geo:asWKT": {
                      "@type": "geo:wktLiteral",
                      "@value": "POINT(7.0018444152818 52.390118691391)"
                    },
                    "asWKT-RD": "POINT(264908 490366)",
                    "geometrienummer": "61241",
                    "heeftGeometrieKwaliteit": {
                      "@id": "rn:7731e08b-77bc-4eb9-b325-6849a8ea8b19",
                      "@type": "skos:Concept",
                      "skos:prefLabel": "globaal"
                    },
                    "heeftGeometrieStatus": {
                      "@id": "rn:f30ec8d9-bd22-40e1-bf32-026721041e47",
                      "@type": "skos:Concept",
                      "skos:prefLabel": "puntlocatie"
                    },
                    "heeftHerkomst": {
                      "@id": "rn:34478dea-bf4a-4507-95f8-18cadc4caaf9",
                      "@type": "skos:Concept",
                      "skos:prefLabel": "BAG"
                    }
                  },
                  "heeftJuridischeStatus": {
                    "@id": "rn:3e79bb7c-b459-4998-a9ed-78d91d069227",
                    "@type": "skos:Concept",
                    "skos:prefLabel": "geen rijksmonument"
                  },
                  "heeftKennisregistratie": [
                    {
                      "@id": "omschrijving:236394",
                      "@type": [
                        "Omschrijving",
                        "Kennisregistratie"
                      ],
                      "formeelStandpunt": "true",
                      "heeftBetrekkingOp": "rijksmonument:29177",
                      "heeftOmschrijvingstype": {
                        "@id": "rn:0273a12d-7259-4391-aee2-5dac264aebe9",
                        "@type": "skos:Concept",
                        "skos:prefLabel": "rijksmonumentomschrijving"
                      },
                      "kennisregistratienummer": "236394",
                      "ceo:omschrijving": "Boerderij waarvan de vakwerkvoorgevel en de vakwerkbovenkamer zijn opgetrokken op een plint van Bentheimer steen en voorzien zijn van houten topgevels; vensters met roedenverdeling en luiken.",
                      "registratiedatum": "1987-08-26"
                    },
                    {
                      "@id": "functie:116634",
                      "@type": [
                        "Kennisregistratie",
                        "Functie"
                      ],
                      "formeelStandpunt": "true",
                      "heeftBetrekkingOp": "rijksmonument:29177",
                      "heeftFunctieNaam": {
                        "@id": "rn:e95cb75d-b99c-4ae9-841c-827b28e75458",
                        "@type": "skos:Concept",
                        "skos:prefLabel": [
                          "Boerderij (M)",
                          "Boerderij(M)"
                        ]
                      },
                      "hoofdfunctie": "true",
                      "kennisregistratienummer": "116634",
                      "registratiedatum": "1997-09-29"
                    }
                  ],
                  "heeftLocatieAanduiding": {
                    "@id": "locatieaanduiding:14721",
                    "@type": "LocatieAanduiding",
                    "heeftLocatieAanduidingStatus": {
                      "@id": "rn:c023fe7d-fc15-459f-8061-091ccbfbfd54",
                      "@type": "skos:Concept",
                      "skos:prefLabel": "onbekend"
                    },
                    "locatieAanduidingnummer": "14721",
                    "locatienaam": "Denekamp"
                  },
                  "heeftMonumentAard": {
                    "@id": "rn:fc966a68-8863-4970-a83e-110f96006c21",
                    "@type": "skos:Concept",
                    "skos:prefLabel": "onroerend gebouwd"
                  },
                  "heeftOmschrijving": {
                    "@id": "omschrijving:236394",
                    "@type": [
                      "Omschrijving",
                      "Kennisregistratie"
                    ],
                    "formeelStandpunt": "true",
                    "heeftBetrekkingOp": "rijksmonument:29177",
                    "heeftOmschrijvingstype": {
                      "@id": "rn:0273a12d-7259-4391-aee2-5dac264aebe9",
                      "@type": "skos:Concept",
                      "skos:prefLabel": "rijksmonumentomschrijving"
                    },
                    "kennisregistratienummer": "236394",
                    "ceo:omschrijving": "Boerderij waarvan de vakwerkvoorgevel en de vakwerkbovenkamer zijn opgetrokken op een plint van Bentheimer steen en voorzien zijn van houten topgevels; vensters met roedenverdeling en luiken.",
                    "registratiedatum": "1987-08-26"
                  },
                  "heeftOorspronkelijkeFunctie": {
                    "@id": "functie:116634",
                    "@type": [
                      "Kennisregistratie",
                      "Functie"
                    ],
                    "formeelStandpunt": "true",
                    "heeftBetrekkingOp": "rijksmonument:29177",
                    "heeftFunctieNaam": {
                      "@id": "rn:e95cb75d-b99c-4ae9-841c-827b28e75458",
                      "@type": "skos:Concept",
                      "skos:prefLabel": [
                        "Boerderij (M)",
                        "Boerderij(M)"
                      ]
                    },
                    "hoofdfunctie": "true",
                    "kennisregistratienummer": "116634",
                    "registratiedatum": "1997-09-29"
                  },
                  "kadasterdeel": "1848",
                  "kadasterdeelnummer": "109",
                  "registratiedatum": "2006-12-19",
                  "rijksmonumentnummer": "12340"
                }
              }
            }
          },
          "400": {
            "description": "Invalid status value"
          }
        },
        "security": []
      }
    },
    "/rest-api-werelderfgoed/run": {
      "get": {
        "tags": [
          "werelderfgoed"
        ],
        "summary": "werelderfgoed",
        "description": "Get information about a specific world heritage site",
        "operationId": "findWerelderfgoedByParameters",
        "parameters": [
          {
            "name": "werelderfgoednummer",
            "in": "query",
            "description": "World heritage number",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "1349"
            }
          },
          {
            "name": "cultuurhistorischObjectnummer",
            "in": "query",
            "description": "Cultural historical object number",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "10134675"
            }
          },
          {
            "name": "heeftNaam",
            "in": "query",
            "description": "Name of the world heritage site",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "Hollandse Waterlinies"
            }
          },
          {
            "name": "registratiedatum",
            "in": "query",
            "description": "Registration date of the world heritage site",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2021-11-22"
            }
          },
          {
            "name": "werelderfgoedstatus",
            "in": "query",
            "description": "World heritage status",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "werelderfgoed"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Werelderfgoed"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameter value"
          }
        },
        "security": []
      }
    },
    "/rest-api-gezicht/run": {
      "get": {
        "tags": [
          "gezicht"
        ],
        "summary": "Stads- en Dorpsgezichten",
        "description": "Get information about a specific city or village view",
        "operationId": "findGezichtByParameters",
        "parameters": [
          {
            "name": "gezichtsnummer",
            "in": "query",
            "description": "City or village view number",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "1439"
            }
          },
          {
            "name": "cultuurhistorischObjectnummer",
            "in": "query",
            "description": "Cultural historical object number",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "example": 10134173
            }
          },
          {
            "name": "naam",
            "in": "query",
            "description": "Name of the city or village",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "Kamerik"
            }
          },
          {
            "name": "registratiedatum",
            "in": "query",
            "description": "Registration date of the city or village view",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "format": "date",
              "example": "1966-08-04"
            }
          },
          {
            "name": "gezichtsstatus",
            "in": "query",
            "description": "City or village view status",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "rijksbeschermd stads- of dorpsgezicht"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Gezicht"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameter value"
          }
        },
        "security": []
      }
    }
  },
  "components": {
    "schemas": {
      "Monument": {
        "type": "object",
        "properties": {
          "@id": {
            "type": "string",
            "example": "rijksmonument:29177"
          },
          "@type": {
            "type": "string",
            "example": "Rijksmonument"
          },
          "cultuurhistorischObjectnummer": {
            "type": "string",
            "example": "29177"
          },
          "datumInschrijvingInMonumentenregister": {
            "type": "string",
            "example": "1972-09-05"
          },
          "heeftBasisregistratieRelatie": {
            "$ref": "#/components/schemas/Monument_heeftBasisregistratieRelatie"
          },
          "heeftBebouwdeKomType": {
            "$ref": "#/components/schemas/Monument_heeftBebouwdeKomType"
          },
          "heeftGeometrie": {
            "$ref": "#/components/schemas/Monument_heeftGeometrie"
          },
          "heeftJuridischeStatus": {
            "$ref": "#/components/schemas/Monument_heeftJuridischeStatus"
          },
          "heeftKennisregistratie": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Monument_heeftKennisregistratie"
            }
          },
          "heeftLocatieAanduiding": {
            "$ref": "#/components/schemas/Monument_heeftLocatieAanduiding"
          },
          "heeftMonumentAard": {
            "$ref": "#/components/schemas/Monument_heeftMonumentAard"
          },
          "heeftOmschrijving": {
            "$ref": "#/components/schemas/Monument_heeftOmschrijving"
          },
          "heeftOorspronkelijkeFunctie": {
            "$ref": "#/components/schemas/Monument_heeftOorspronkelijkeFunctie"
          },
          "kadasterdeel": {
            "type": "string",
            "example": "1848"
          },
          "kadasterdeelnummer": {
            "type": "string",
            "example": "109"
          },
          "registratiedatum": {
            "type": "string",
            "example": "2006-12-19"
          },
          "rijksmonumentnummer": {
            "type": "string",
            "example": "12340"
          }
        }
      },
      "Werelderfgoed": {
        "type": "object",
        "properties": {
          "werelderfgoednummer": {
            "type": "string",
            "example": "10134686"
          },
          "cultuurhistorischObjectnummer": {
            "type": "string",
            "example": "10134686"
          },
          "heeftNaam": {
            "$ref": "#/components/schemas/Werelderfgoed_heeftNaam"
          },
          "registratiedatum": {
            "type": "string",
            "format": "date",
            "example": "2023-11-28"
          },
          "werelderfgoedstatus": {
            "type": "string",
            "example": "werelderfgoed"
          },
          "geometrie": {
            "$ref": "#/components/schemas/Werelderfgoed_geometrie"
          }
        }
      },
      "Gezicht": {
        "type": "object",
        "properties": {
          "gezichtsnummer": {
            "type": "string",
            "example": "1439"
          },
          "cultuurhistorischObjectnummer": {
            "type": "string",
            "example": "10134173"
          },
          "heeftGeometrie": {
            "$ref": "#/components/schemas/Gezicht_heeftGeometrie"
          },
          "heeftGezichtsstatus": {
            "$ref": "#/components/schemas/Gezicht_heeftGezichtsstatus"
          },
          "heeftKennisregistratie": {
            "$ref": "#/components/schemas/Gezicht_heeftKennisregistratie"
          },
          "heeftNaam": {
            "$ref": "#/components/schemas/Gezicht_heeftKennisregistratie"
          },
          "registratiedatum": {
            "type": "string",
            "format": "date",
            "example": "1966-08-04"
          }
        }
      },
      "Monument_heeftBasisregistratieRelatie_heeftBAGRelatie": {
        "type": "object",
        "properties": {
          "@id": {
            "type": "string",
            "example": "bagrelatie:48315"
          },
          "@type": {
            "type": "string",
            "example": "BAGRelatie"
          },
          "BAGRelatienummer": {
            "type": "string",
            "example": "48315"
          },
          "heeftVerblijfsobject": {
            "type": "string",
            "example": "verblijfsobject:1774010000271171"
          },
          "huisnummer": {
            "type": "string",
            "example": "96"
          },
          "openbareRuimte": {
            "type": "string",
            "example": "Lattropperstraat"
          },
          "postcode": {
            "type": "string",
            "example": "7591PK"
          },
          "verblijfsobjectIdentificatie": {
            "type": "string",
            "example": "1774010000271171"
          },
          "volledigAdres": {
            "type": "string",
            "example": "Lattropperstraat 96"
          },
          "woonplaatsnaam": {
            "type": "string",
            "example": "Denekamp"
          }
        }
      },
      "Monument_heeftBasisregistratieRelatie_heeftBRKRelatie": {
        "type": "object",
        "properties": {
          "@id": {
            "type": "string",
            "example": "brkrelatie:113847"
          },
          "@type": {
            "type": "string",
            "example": "BRKRelatie"
          },
          "BRKRelatienummer": {
            "type": "string",
            "example": "113847"
          },
          "gemeentecode": {
            "type": "string",
            "example": "212"
          },
          "gemeentenaam": {
            "type": "string",
            "example": "Denekamp"
          },
          "perceelnummer": {
            "type": "string",
            "example": "759"
          },
          "provinciecode": {
            "type": "string",
            "example": "OV"
          },
          "sectie": {
            "type": "string",
            "example": "M"
          }
        }
      },
      "Monument_heeftBasisregistratieRelatie": {
        "type": "object",
        "properties": {
          "@id": {
            "type": "string",
            "example": "basisregistratierelatie:19591"
          },
          "@type": {
            "type": "string",
            "example": "BasisregistratieRelatie"
          },
          "basisregistratieRelatienummer": {
            "type": "string",
            "example": "19591"
          },
          "heeftBAGRelatie": {
            "$ref": "#/components/schemas/Monument_heeftBasisregistratieRelatie_heeftBAGRelatie"
          },
          "heeftBRKRelatie": {
            "$ref": "#/components/schemas/Monument_heeftBasisregistratieRelatie_heeftBRKRelatie"
          },
          "heeftGemeente": {
            "type": "string",
            "example": "owms:Dinkelland"
          },
          "heeftProvincie": {
            "type": "string",
            "example": "owms:Overijssel"
          }
        }
      },
      "Monument_heeftBebouwdeKomType": {
        "type": "object",
        "properties": {
          "@id": {
            "type": "string",
            "example": "rn:a273be15-311e-4246-b99e-52c2efd97a77"
          },
          "@type": {
            "type": "string",
            "example": "skos:Concept"
          },
          "skos:prefLabel": {
            "type": "string",
            "example": "onbekend"
          }
        }
      },
      "Monument_heeftGeometrie_geoasWKT": {
        "type": "object",
        "properties": {
          "@type": {
            "type": "string",
            "example": "geo:wktLiteral"
          },
          "@value": {
            "type": "string",
            "example": "POINT(7.0018444152818 52.390118691391)"
          }
        }
      },
      "Monument_heeftGeometrie_heeftGeometrieKwaliteit": {
        "type": "object",
        "properties": {
          "@id": {
            "type": "string",
            "example": "rn:7731e08b-77bc-4eb9-b325-6849a8ea8b19"
          },
          "@type": {
            "type": "string",
            "example": "skos:Concept"
          },
          "skos:prefLabel": {
            "type": "string",
            "example": "globaal"
          }
        }
      },
      "Monument_heeftGeometrie_heeftGeometrieStatus": {
        "type": "object",
        "properties": {
          "@id": {
            "type": "string",
            "example": "rn:f30ec8d9-bd22-40e1-bf32-026721041e47"
          },
          "@type": {
            "type": "string",
            "example": "skos:Concept"
          },
          "skos:prefLabel": {
            "type": "string",
            "example": "puntlocatie"
          }
        }
      },
      "Monument_heeftGeometrie_heeftHerkomst": {
        "type": "object",
        "properties": {
          "@id": {
            "type": "string",
            "example": "rn:34478dea-bf4a-4507-95f8-18cadc4caaf9"
          },
          "@type": {
            "type": "string",
            "example": "skos:Concept"
          },
          "skos:prefLabel": {
            "type": "string",
            "example": "BAG"
          }
        }
      },
      "Monument_heeftGeometrie": {
        "type": "object",
        "properties": {
          "@id": {
            "type": "string",
            "example": "geometrie:61241"
          },
          "@type": {
            "type": "string",
            "example": "Geometrie"
          },
          "geo:asWKT": {
            "$ref": "#/components/schemas/Monument_heeftGeometrie_geoasWKT"
          },
          "asWKT-RD": {
            "type": "string",
            "example": "POINT(264908 490366)"
          },
          "geometrienummer": {
            "type": "string",
            "example": "61241"
          },
          "heeftGeometrieKwaliteit": {
            "$ref": "#/components/schemas/Monument_heeftGeometrie_heeftGeometrieKwaliteit"
          },
          "heeftGeometrieStatus": {
            "$ref": "#/components/schemas/Monument_heeftGeometrie_heeftGeometrieStatus"
          },
          "heeftHerkomst": {
            "$ref": "#/components/schemas/Monument_heeftGeometrie_heeftHerkomst"
          }
        }
      },
      "Monument_heeftJuridischeStatus": {
        "type": "object",
        "properties": {
          "@id": {
            "type": "string",
            "example": "rn:3e79bb7c-b459-4998-a9ed-78d91d069227"
          },
          "@type": {
            "type": "string",
            "example": "skos:Concept"
          },
          "skos:prefLabel": {
            "type": "string",
            "example": "geen rijksmonument"
          }
        }
      },
      "Monument_heeftOmschrijvingstype": {
        "type": "object",
        "properties": {
          "@id": {
            "type": "string",
            "example": "rn:0273a12d-7259-4391-aee2-5dac264aebe9"
          },
          "@type": {
            "type": "string",
            "example": "skos:Concept"
          },
          "skos:prefLabel": {
            "type": "string",
            "example": "rijksmonumentomschrijving"
          }
        }
      },
      "Monument_heeftKennisregistratie": {
        "type": "object",
        "properties": {
          "@id": {
            "type": "string",
            "example": "omschrijving:236394"
          },
          "@type": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "Omschrijving"
            }
          },
          "formeelStandpunt": {
            "type": "string",
            "example": "true"
          },
          "heeftBetrekkingOp": {
            "type": "string",
            "example": "rijksmonument:29177"
          },
          "heeftOmschrijvingstype": {
            "$ref": "#/components/schemas/Monument_heeftOmschrijvingstype"
          },
          "kennisregistratienummer": {
            "type": "string",
            "example": "236394"
          },
          "ceo:omschrijving": {
            "type": "string",
            "example": "Boerderij waarvan de vakwerkvoorgevel en de vakwerkbovenkamer zijn opgetrokken op een plint van Bentheimer steen en voorzien zijn van houten topgevels; vensters met roedenverdeling en luiken."
          },
          "registratiedatum": {
            "type": "string",
            "example": "1987-08-26"
          }
        }
      },
      "Monument_heeftLocatieAanduiding_heeftLocatieAanduidingStatus": {
        "type": "object",
        "properties": {
          "@id": {
            "type": "string",
            "example": "rn:c023fe7d-fc15-459f-8061-091ccbfbfd54"
          },
          "@type": {
            "type": "string",
            "example": "skos:Concept"
          },
          "skos:prefLabel": {
            "type": "string",
            "example": "onbekend"
          }
        }
      },
      "Monument_heeftLocatieAanduiding": {
        "type": "object",
        "properties": {
          "@id": {
            "type": "string",
            "example": "locatieaanduiding:14721"
          },
          "@type": {
            "type": "string",
            "example": "LocatieAanduiding"
          },
          "heeftLocatieAanduidingStatus": {
            "$ref": "#/components/schemas/Monument_heeftLocatieAanduiding_heeftLocatieAanduidingStatus"
          },
          "locatieAanduidingnummer": {
            "type": "string",
            "example": "14721"
          },
          "locatienaam": {
            "type": "string",
            "example": "Denekamp"
          }
        }
      },
      "Monument_heeftMonumentAard": {
        "type": "object",
        "properties": {
          "@id": {
            "type": "string",
            "example": "rn:fc966a68-8863-4970-a83e-110f96006c21"
          },
          "@type": {
            "type": "string",
            "example": "skos:Concept"
          },
          "skos:prefLabel": {
            "type": "string",
            "example": "onroerend gebouwd"
          }
        }
      },
      "Monument_heeftOmschrijving": {
        "type": "object",
        "properties": {
          "@id": {
            "type": "string",
            "example": "omschrijving:236394"
          },
          "@type": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "Omschrijving, Kennisregistratie"
            }
          },
          "formeelStandpunt": {
            "type": "string",
            "example": "true"
          },
          "heeftBetrekkingOp": {
            "type": "string",
            "example": "rijksmonument:29177"
          },
          "heeftOmschrijvingstype": {
            "$ref": "#/components/schemas/Monument_heeftOmschrijvingstype"
          },
          "kennisregistratienummer": {
            "type": "string",
            "example": "236394"
          },
          "ceo:omschrijving": {
            "type": "string",
            "example": "Boerderij waarvan de vakwerkvoorgevel en de vakwerkbovenkamer zijn opgetrokken op een plint van Bentheimer steen en voorzien zijn van houten topgevels; vensters met roedenverdeling en luiken."
          },
          "registratiedatum": {
            "type": "string",
            "example": "1987-08-26"
          }
        }
      },
      "Monument_heeftOorspronkelijkeFunctie_heeftFunctieNaam": {
        "type": "object",
        "properties": {
          "@id": {
            "type": "string",
            "example": "rn:e95cb75d-b99c-4ae9-841c-827b28e75458"
          },
          "@type": {
            "type": "string",
            "example": "skos:Concept"
          },
          "skos:prefLabel": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "Boerderij (M)"
            }
          }
        }
      },
      "Monument_heeftOorspronkelijkeFunctie": {
        "type": "object",
        "properties": {
          "@id": {
            "type": "string",
            "example": "functie:116634"
          },
          "@type": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "Kennisregistratie, Functie"
            }
          },
          "formeelStandpunt": {
            "type": "string",
            "example": "true"
          },
          "heeftBetrekkingOp": {
            "type": "string",
            "example": "rijksmonument:29177"
          },
          "heeftFunctieNaam": {
            "$ref": "#/components/schemas/Monument_heeftOorspronkelijkeFunctie_heeftFunctieNaam"
          },
          "hoofdfunctie": {
            "type": "string",
            "example": "true"
          },
          "kennisregistratienummer": {
            "type": "string",
            "example": "116634"
          },
          "registratiedatum": {
            "type": "string",
            "example": "1997-09-29"
          }
        }
      },
      "Werelderfgoed_heeftNaam": {
        "type": "object",
        "properties": {
          "ceo:naam": {
            "type": "string",
            "example": "Eisinga Planetarium"
          }
        }
      },
      "Werelderfgoed_geometrie_asWKT": {
        "type": "object",
        "properties": {
          "@type": {
            "type": "string",
            "example": "geo:wktLiteral"
          },
          "@value": {
            "type": "string",
            "example": "MULTIPOLYGON(((5.5431882290915 53.188293422937, ... )))"
          }
        }
      },
      "Werelderfgoed_geometrie_asWKTRD": {
        "type": "object",
        "properties": {
          "@type": {
            "type": "string",
            "example": "geo:wktLiteral"
          },
          "@value": {
            "type": "string",
            "example": "MULTIPOLYGON(((165426.4099790007 577969.9189300016, ... )))"
          }
        }
      },
      "Werelderfgoed_geometrie_heeftGeometrieKwaliteit": {
        "type": "object",
        "properties": {
          "@id": {
            "type": "string",
            "example": "rn:455b408a-f596-4f3e-9fb3-b8b903dd722d"
          },
          "@type": {
            "type": "string",
            "example": "skos:Concept"
          },
          "skos:prefLabel": {
            "type": "string",
            "example": "exact"
          }
        }
      },
      "Werelderfgoed_geometrie_heeftGeometrieType": {
        "type": "object",
        "properties": {
          "@id": {
            "type": "string",
            "example": "rn:527ff989-36b8-4a60-a38c-c236b924ebee"
          },
          "@type": {
            "type": "string",
            "example": "skos:Concept"
          },
          "skos:prefLabel": {
            "type": "string",
            "example": "bufferzone"
          }
        }
      },
      "Werelderfgoed_geometrie": {
        "type": "object",
        "properties": {
          "asWKT": {
            "$ref": "#/components/schemas/Werelderfgoed_geometrie_asWKT"
          },
          "asWKT-RD": {
            "$ref": "#/components/schemas/Werelderfgoed_geometrie_asWKTRD"
          },
          "geometrienummer": {
            "type": "string",
            "example": "10047555"
          },
          "heeftGeometrieKwaliteit": {
            "$ref": "#/components/schemas/Werelderfgoed_geometrie_heeftGeometrieKwaliteit"
          },
          "heeftGeometrieType": {
            "$ref": "#/components/schemas/Werelderfgoed_geometrie_heeftGeometrieType"
          }
        }
      },
      "Gezicht_heeftGeometrie_geometrie_asWKT": {
        "type": "object",
        "properties": {
          "@type": {
            "type": "string",
            "example": "geo:wktLiteral"
          }
        }
      },
      "Gezicht_heeftGeometrie_geometrie_heeftGeometrieKwaliteit_skosConcept": {
        "type": "object",
        "properties": {
          "skos:prefLabel": {
            "type": "string",
            "example": "exact"
          }
        }
      },
      "Gezicht_heeftGeometrie_geometrie_heeftGeometrieKwaliteit": {
        "type": "object",
        "properties": {
          "skos:Concept": {
            "$ref": "#/components/schemas/Gezicht_heeftGeometrie_geometrie_heeftGeometrieKwaliteit_skosConcept"
          }
        }
      },
      "Gezicht_heeftGeometrie_geometrie": {
        "type": "object",
        "properties": {
          "asWKT": {
            "$ref": "#/components/schemas/Gezicht_heeftGeometrie_geometrie_asWKT"
          },
          "asWKT-RD": {
            "type": "string",
            "example": "MULTIPOLYGON(((121182.9 458131.3, ...)))"
          },
          "geometrienummer": {
            "type": "string",
            "example": "10047060"
          },
          "heeftGeometrieKwaliteit": {
            "$ref": "#/components/schemas/Gezicht_heeftGeometrie_geometrie_heeftGeometrieKwaliteit"
          }
        }
      },
      "Gezicht_heeftGeometrie": {
        "type": "object",
        "properties": {
          "geometrie": {
            "$ref": "#/components/schemas/Gezicht_heeftGeometrie_geometrie"
          }
        }
      },
      "Gezicht_heeftGezichtsstatus_skosConcept": {
        "type": "object",
        "properties": {
          "skos:prefLabel": {
            "type": "string",
            "example": "rijksbeschermd stads- of dorpsgezicht"
          }
        }
      },
      "Gezicht_heeftGezichtsstatus": {
        "type": "object",
        "properties": {
          "skos:Concept": {
            "$ref": "#/components/schemas/Gezicht_heeftGezichtsstatus_skosConcept"
          }
        }
      },
      "Gezicht_heeftKennisregistratie_naam_heeftBetrekkingOp": {
        "type": "object",
        "properties": {
          "@id": {
            "type": "string",
            "example": "gezicht:10134173"
          }
        }
      },
      "Gezicht_heeftKennisregistratie_naam": {
        "type": "object",
        "properties": {
          "formeelStandpunt": {
            "type": "boolean",
            "example": true
          },
          "heeftBetrekkingOp": {
            "$ref": "#/components/schemas/Gezicht_heeftKennisregistratie_naam_heeftBetrekkingOp"
          },
          "huidigeNaam": {
            "type": "boolean",
            "example": true
          },
          "kennisregistratienummer": {
            "type": "string",
            "example": "10304141"
          },
          "ceo:naam": {
            "type": "string",
            "example": "Kamerik"
          },
          "registratiedatum": {
            "type": "string",
            "example": "1966-08-04"
          }
        }
      },
      "Gezicht_heeftKennisregistratie": {
        "type": "object",
        "properties": {
          "naam": {
            "$ref": "#/components/schemas/Gezicht_heeftKennisregistratie_naam"
          }
        }
      }
    }
  }
}